<svg id="Layer_1_f" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 80">
    <defs>
    </defs><title>facebook</title>
    <path id="f-2" data-name="f" class="cls-2" d="M14.41,39.92V21.71h6.11l.92-7.1h-7V10.08c0-2.05.57-3.45,3.52-3.45h3.76V.28A50.29,50.29,0,0,0,16.21,0C10.79,0,7.08,3.31,7.08,9.38v5.23H1v7.1H7.08V39.92Z"></path></svg>