<svg id="Layer_1_t" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 80"><defs></defs>
    <title>twitter</title>
    <path class="cls-1" d="M13,36c14.85,0,23-12.3,23-23,0-.35,0-.7,0-1A16.42,16.42,0,0,0,40,7.8a16.11,16.11,0,0,1-4.64,1.27,8.1,8.1,0,0,0,3.55-4.46,16.17,16.17,0,0,1-5.12,2A8.08,8.08,0,0,0,20,13.92,22.91,22.91,0,0,1,3.4,5.49,8.08,8.08,0,0,0,5.9,16.27a8,8,0,0,1-3.66-1s0,.07,0,.1a8.07,8.07,0,0,0,6.48,7.91,8.06,8.06,0,0,1-3.64.14A8.08,8.08,0,0,0,12.61,29a16.2,16.2,0,0,1-10,3.45,16.43,16.43,0,0,1-1.93-.11A22.85,22.85,0,0,0,13,36"></path>
