
<style>

  .section-careers{
    padding:50px 0
  }

  .carrers-block{
    text-align:center;
    max-width:400px;
    margin:0 auto;
  }

    
  .carrer-position{
    margin-top:40px;
    font-style:italic;
  }

  
</style>

<div class="section-careers">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="carrers-block">
          <h2>CAREERS</h2>
          <p>Thanks for stopping by!</p>
          <p>Check out our open positions below and bookmark this page for future opportunities.</p>

          <p class="carrer-position">No positions are open at this time.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Careers",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}