{{ 'hero.css' | asset_url | stylesheet_tag }}

<style>

  .hero-section{
    position:relative;
  }
  
  .default-image{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
  
</style>

<div class="hero-section" >
    <div class="hero-section-container">
        <a href="collections/frontpage" target="_blank">
            {% if section.settings.banner_img == blank %} 
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% else %}
              <img src = "{{ section.settings.banner_img | img_url:'master'  }} " class="hero-img1" />
            {% endif %}
            <div class="default-image">
              {% render 'shop_now' %}
            </div>
        </a>
    </div>
</div>  


{% schema %}

{
    "name" : "banner image",
    "settings" : [
         
            {
                "type": "image_picker",
                "id": "banner_img",
                "label": "banner image"               
            }
          
    ]  
}

{% endschema %}